<% include ../partials/header %>

<div class = container>
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to MicroJournal!</h1>
            <p>The quick and easy way to stick to a daily journaling routine</p>
            <p>
                <p><a class="btn btn-primary btn-lg" href="/journalentries/new">Add new entry for today</a></p>
                <p><a class="btn btn-primary btn-lg" href="/activities/new">Create a new activity</a></p>
                <p><a class="btn btn-primary btn-lg" href="/activities/track">Track an activity</a></p>
            </p>
        </div>    
    </header>

    <div class="row" id="main_flex_row">
        <% journalentries.forEach(function(journalentry){ %>
            <div class="d-inline-flex flex-column" id="day_num_flex">
                <div>&nbsp;</div>
                <div class="d-inline-flex align-items-end" id="middle_column_left"><div id="day_num">#<%= journalentry.day_number %></div></div>
                <div>&nbsp;</div>
            </div>
            <div class="d-inline-flex flex-column justify-content-between" id="middle_entry_flex">
                <div><%= journalentry.special %></div>
                <div class="card" id="middle_column">
                    <div class="d-inline-flex flex-column justify-content-between align-items-center" id="middle_column_content">
                        <div><button type="button" class="btn btn-primary btn-circle" id="activity_button"><i class="fas fa-plus button_content"></i></button></div>
                        <div class="d-inline-flex justify-content-between flex-grow-1 align-items-center">
                            <div><button type="button" class="btn btn-primary btn-circle" id="activity_button"><i class="fas fa-plus button_content"></i></button></div>
                            <h4 class="self-align-center" id="center_text"><%= journalentry.memento %> </h4>
                            <div><button type="button" class="btn btn-primary btn-circle" id="activity_button"><i class="fas fa-plus button_content"></i></button></div>
                        </div>
                        <div><button type="button" class="btn btn-primary btn-circle" id="activity_button"><i class="fas fa-plus button_content"></i></button></div>
                    </div>
                </div>
                <div class="d-inline-flex justify-content-between align-items-center" id="main-item">
                    <div>
                        <button type="button" class="btn btn-primary" id="wake_button">
                            <i class="fas fa-lg fa-bell button_content" data-toggle="tooltip" data-placement="top" title="Time you woke up"></i>
                        </button> <%= journalentry.sleep.awake %>
                    </div>
                    <div id="bottom_center">
                        <button type="button" class="btn btn-primary" id="feeling_button">
                            <i class="far fa-2x fa-smile-beam button_content" data-toggle="tooltip" data-placement="top" title="How did you feel today"></i>
                        </button>
                    </div>
                    <div id="bottom_right"> 
                        <button type="button" class="btn btn-primary" id="wake_button">
                            <i class="fas fa-lg fa-bed button_content" data-toggle="tooltip" data-placement="top" title="Time you went to sleep"></i>
                        </button> <%= journalentry.sleep.asleep %>
                    </div>
                </div>
            </div>
            <div id="goals_flex">
                <div class="d-inline-flex flex-column">
                    <button type="button" class="btn btn-primary btn-circle" id="add-stuff"><i class="fas fa-plus button_content"></i></button>
                    <button type="button" class="btn btn-outline-primary" id="add-stuff"><i class="fab fa-untappd button_content"></i></button>
                </div>
            </div>
            
        <% }); %>
            
    </div>
</div>

<% include ../partials/footer %>